/node_modules
/public/hot
/public/storage
/public/documents
/public/download
/storage/*.key
/vendor
/storage/logs
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
